*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --spy--topbanner-black:#080b12;
    --spy--main-black:#141922;
    --spy--bottom-darckgrey:#282828;
    --spy--text-grey:#B1B2B5;
    --spy--margin-lt-green:#adff2f;
    --spy--whight:#ffffff;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

body {
    max-width: 1900px;
    background-color: var(--spy--main-black);
}

.light-green {
    background-color: var(--spy--margin-lt-green);
}

h2 {
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
    color: var(--spy--whight);
}

h3 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: var(--spy--whight);
}

h4 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: var(--spy--whight);
}

h5 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: var(--spy--whight);
}

h6 {
    color: var(--spy--text-grey);
}

.col-xl-2 {
    width: calc(100% / 12 * 2);
}

.col-xl-4 {
    width: calc (100% / 12 * 4);
}


/* Utilitis */ 

/* Section Left Start */
.container_left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: left;
    background-color: black;
    width: 230px;
    height: (100vh - 90px);
    position: fixed;
}

.container_left .top {
    width: 190px;
    height: auto;
    padding-bottom: 190px;
}

.container_left .bottom {
    width: 190px;
    height: auto;  
}

/* Layout */

.container_left .row {
    display: flex;
    flex-direction: column;
}

.container_left .card {
    display: flex;
}

.logo_sm {
    display: none;
}

.logo {
    padding: 1rem 0;
}

.left a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .7rem;
    text-decoration: none;
    color: var(--spy--text-grey);
    line-height: 1.2rem;
    padding-left: 0.1rem;
}

.left a:hover {
    color: var(--spy--whight);
}

.left i {
    color: var(--spy--text-grey);
}

.card_jd {
    display: flex;
    align-items: baseline;
}

.card_jd img {
    background-color: var(--spy--text-grey);
    margin-top: 1rem;
    margin-right: 0.5em;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.card_jd span {
    color: var(--spy--whight);
    padding-bottom: 1rem;
}
/* Section Left End*/

/* Section Right Start */

.container_right .top_banner {
    position: relative;
    top: 0;
    background-color: var(--spy--topbanner-black);
    opacity: 0.7;
    height: 80px;
    width: 100%;
    position: sticky;
}

.top_banner button {
    float: right;
    background-color: var(--spy--topbanner-black);
    color:var(--spy--whight);
    border: solid 1px var(--spy--whight);
    border-radius: 30px;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-right: 0.2rem;
}
/* Top Banner */

.right_menu {
    text-align: center;
    padding-bottom: 1rem;
}

.right_menu a {
    text-decoration: none;
}

.right_menu a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .7rem;
    text-decoration: none;
    color: var(--spy--text-grey);
    padding: 1rem;
}

.right_menu a:hover {
    color: var(--spy--whight);
}
/* Menu rigth section */

.container_right {
    width: calc(100% - 230px);
    height: (100vh - 90px);
    right: 0;
    overflow-y: auto;
    position: absolute; 
}

.row_played {
    display: flex;
    flex-wrap: wrap;  
}

.col_played {
    display: flex;
    justify-content: center;
}

.col_played .box {
    padding: .5rem;
    width: 100%;
    height: auto;
}

.row_played .img {
    background-image: url(../img/einaudi.jpeg);
    background-size: cover;
    aspect-ratio: 1 / 1;
}
/* Recently played */


.row_john {
    display: flex;
    flex-wrap: wrap;
}

.col_john {
    display: flex;
    justify-content: center;
}

.col_john .box {
    padding: .5rem;
    width: 100%;
    height: auto;
}

.col_john .img {
    background-image: url(../img/stranger.jpeg);
    background-size: cover;
    aspect-ratio: 1 / 1;
}
/* John Doe */


.row_artisti {
    display: flex;
    flex-wrap: wrap;
}

.col_artisti {
    display: flex;
    justify-content: center;
}

.col_artisti .box {
    padding: .5rem;
    width: 100%;
    height: auto;
}

.col_artisti .img_radius {
    background-image: url(../img/split.jpeg);
    background-size: cover;
    aspect-ratio: 1 / 1; 
}
/* Artisti piu' popolari */

/* Section Right End */

 
/* Section Bottom Start*/

.container_bottom {
    position: relative;
    flex-direction: row;
    background-color: var(--spy--bottom-darckgrey);
    height: 90px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 0.5rem;
}

.container_bottom {
    display: flex;
    justify-content: space-between;
}

.container_bottom .left {
    display: flex;
    align-items: center;
}

/* Bottom left */
.container_bottom .left h5 {
    padding-bottom: 0;
    padding-left: 0.5rem;
    
}

.container_bottom .left h6 {
    padding-bottom: 1.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container_bottom .icon i{
    padding-left: 1rem;
}

.container_bottom .icon i:hover {
    color: var(--spy--whight);
}
/* Utiliti bottom left */

.container_bottom .midle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_bottom .midle .top_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container_bottom .midle .top_bar a {
    padding: 0.5rem;
}

.container_bottom .midle .top_bar i{
    color: var(--spy--whight);
}

.container_bottom .play:hover {
    transition: .2s;
    transform: scale(1.2);
}


/* Bottom midle top */

.container_bottom .midle .bottom_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
}

.container_bottom .first_hr {
    border: 1px solid var(--spy--whight);
    border-radius:5px;
    width: 50px;
    margin-right: -1px;
}

.bottom_bar:hover .first_hr {
    display: block;
    background-color: var(--spy--margin-lt-green);
    border: 1px solid var(--spy--margin-lt-green);
}

.container_bottom .midle_hr {
    border: 4px solid var(--spy--text-grey);
    border-radius:10px;
    width: 10px;
}

.container_bottom .midle_hr {
    display: none;
}

.bottom_bar:hover .midle_hr {
    display: block;
}

.container_bottom .second_hr {
    border: 1px solid var(--spy--text-grey);
    border-radius:5px;
    width: 200px;
}

.container_bottom .second_hr {
    display: none;
}

.bottom_bar:hover .second_hr {
    display: block;
}

.container_bottom .display_hr {
    border: 1px solid var(--spy--text-grey);
    border-radius:5px;
    width: 210px;
}

.bottom_bar:hover .display_hr {
    display: none;
}

.container_bottom .midle .time {
    color: var(--spy--whight);
    font-size: 0.7rem;
    padding: 0.5rem;
}
/* Bottom midle bottom */

/* Bottom midle */
.container_bottom .right {
    display: flex;
}

.container_bottom .right_bar {
    display: flex;
    align-items: center;
}

.container_bottom .right i {
    color: var(--spy--whight);
    font-size: 0.7rem;
    padding: 0.8rem;
}

.container_bottom .right .first_hr {
    border: 1px solid var(--spy--whight);
    border-radius:5px;
    width: 25px;
    margin-right: -1px;
}

.right_bar:hover .first_hr {
    display: block;
    background-color: var(--spy--margin-lt-green);
    border: 1px solid var(--spy--margin-lt-green);
}

.container_bottom .right .midle_hr {
    border: 4px solid var(--spy--text-grey);
    border-radius:10px;
    width: 10px;
}

.container_bottom .right .midle_hr {
    display: none;
}

.right_bar:hover .midle_hr {
    display: block;
}

.container_bottom .right .second_hr {
    border: 1px solid var(--spy--text-grey);
    border-radius:5px;
    width: 90px;
}

.container_bottom .right .second_hr {
    display: none;
}

.right_bar:hover .second_hr {
    display: block;
}

.container_bottom .right .display_hr {
    border: 1px solid var(--spy--text-grey);
    border-radius:5px;
    width: 100px;
}

.right_bar:hover .display_hr {
    display: none;
}


/* Bottom right */

/* Section Bottom End */

/* Deskstop-XL */
@media screen and (max-width: 1440px) {
 
    .col-xl-2 {
        width: calc(100% / 12 * 2);
    }
    
    .col-xl-4 {
        width: calc(100% / 12 * 4);
    }
    /* Utilitis */

    .container_right {
        max-width: 1440px;
    }
    /* Section right */
}
/* Table-LG */
@media screen and (max-width: 992px) {

    .col-lg-6 {
        width: 50%;
    }
    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }
    /* Utilitis */

    .container_right {
        max-width: 992px;
    }
    /* Section right */

    .container_artisti {
        display: none;
    }
    /* Section artisti */
}
/* Tablet-MD */
@media screen and (max-width: 768px) {
    
    .col-md-6 {
        width: 50%;
    }
    /* Utilitis */

    .container_right {
        max-width: 768px;
    }
    /* Section right */
}
/* Mobile-SM */
@media screen and (max-width: 576px) {
    
    .col-sm-6 {
        width: 50%;
    }
    /* Utilitis */

    .container_left {
        width: 50px;
        justify-content: space-between;
     }

     .container_left .top {
        width: 50px;
     }

     .container_left .row {
        display: flex;
        flex-direction: column;
        align-items: center;
     }

     .container_left .bottom {
        width: 50px;
        height: auto;  
     } 

     .container_left .card_download {
        margin-left: -0.6rem;
     }
     
     .logo {
        display: none;
     }

     .logo_sm {
        display: block;
     }

     .container_left img {
       margin-top: 1rem;
       
     }

     .container_left a, span, hr, h5 {
        display: none;
     }

     .card_plus {
        display: none;
     }

     /* .container_left .top {
        padding-bottom: 180px;
     } */
     /* Section left */
    
    .container_right {
        max-width: 576px;
        
    }

    .container_right {
        width: calc(100% - 50px);
    }
    /* Section right */

    .container_bottom h5{
        display: block;
    }

    .container_bottom .midle hr {
        display: block;
    }
    /* Bottom laft */

    

    /* Section bottom */
}