*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --spy--topbanner-black:#080b12;
    --spy--main-black:#141922;
    --spy--bottom-darckgrey:#282828;
    --spy--text-grey:#B1B2B5;
    --spy--margin-lt-green:#adff2f;
    --spy--whight:#ffffff;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

body {
    max-width: 1900px;
    background-color: var(--spy--main-black);
}

.light-green {
    background-color: var(--spy--margin-lt-green);
}

h2 {
    padding-bottom: 1.5rem;
    color: var(--spy--whight);
}

h3 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: var(--spy--whight);
}

h4 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: var(--spy--whight);
}

h5 {
    margin-top: 1rem;
    padding-bottom: 1rem;
    color: var(--spy--whight);
}

h6 {
    color: var(--spy--text-grey);
}

.col-xl-2 {
    width: calc(100% / 12 * 2);
}

.col-xl-4 {
    width: calc (100% / 12 * 4);
}


/* Utilitis */ 

/* Section Left Start */
.container_left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    float: left;
    background-color: black;
    min-width: 230px;
    height: 90vh;
    overflow-y: auto;
}

.container_left .top {
    width: 190px;
    height: auto;
}

.container_left .bottom {
    
    width: 190px;
    height: auto;
    margin-top: 140px;
}
/* Layout */

.container_left .row {
    display: flex;
    flex-direction: column;
}

.container_left .card {
    display: flex;
}

.logo_sm {
    display: none;
}

.logo {
    padding: 1rem 0;
}

.left a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-decoration: none;
    color: var(--spy--text-grey);
    line-height: 1.5rem;
    padding-left: 0.1rem;
}

.left i {
    color: var(--spy--text-grey);
}

.card_jd {
    display: flex;
    align-items: baseline;
}

.card_jd img {
    background-color: var(--spy--text-grey);
    margin-top: 1rem;
    margin-right: 0.5em;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.card_jd span {
    color: var(--spy--whight);
    padding-bottom: 1rem;
}
/* Section Left End*/

/* Section Right Start */
.container_right .top_banner {
    position: relative;
    top: 0;
    background-color: var(--spy--topbanner-black);
    opacity: 0.7;
    height: 80px;
    width: 100%;
    position: sticky;
}

.top_banner button {
    float: right;
    background-color: var(--spy--topbanner-black);
    color:var(--spy--whight);
    border: solid 1px var(--spy--whight);
    border-radius: 30px;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-right: 0.2rem;
}
/* Top Banner */

.container_right {
    width: calc(100% - 230px);
    height: 100%;
    right: 0;
    overflow-y: auto;
    position: absolute; 
}

.row_played {
    display: flex;
    flex-wrap: wrap;  
}

.col_played {
    display: flex;
    justify-content: center;
}

.col_played .box {
    padding: .5rem;
    width: 100%;
    height: auto;
}

.row_played .img {
    background-image: url(../img/einaudi.jpeg);
    background-size: cover;
    aspect-ratio: 1 / 1;
}
/* Recently played */


.row_john {
    display: flex;
    flex-wrap: wrap;
}

.col_john {
    display: flex;
    justify-content: center;
}

.col_john .box {
    padding: .5rem;
    width: 100%;
    height: auto;
}

.col_john .img {
    background-image: url(../img/stranger.jpeg);
    background-size: cover;
    aspect-ratio: 1 / 1;
}
/* John Doe */


.row_artisti {
    display: flex;
    flex-wrap: wrap;
}

.col_artisti {
    display: flex;
    justify-content: center;
}

.col_artisti .box {
    padding: .5rem;
    width: 100%;
    height: auto;
}

.col_artisti .img_radius {
    background-image: url(../img/split.jpeg);
    background-size: cover;
    aspect-ratio: 1 / 1; 
}
/* Artisti piu' popolari */

/* Section Right End */

 
/* Section Bottom Start*/

.container_bottom {
    position: relative;
    flex-direction: row;
    background-color: var(--spy--bottom-darckgrey);
    height: 90px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
/* Section Bottom End */

/* Deskstop-XL */
@media screen and (max-width: 1440px) {
 
    .col-xl-2 {
        width: calc(100% / 12 * 2);
    }
    
    .col-xl-4 {
        width: calc(100% / 12 * 4);
    }
    /* Utilitis */

    .container_right {
        max-width: 1440px;
    }
    /* Section right */
}
/* Table-LG */
@media screen and (max-width: 992px) {

    .col-lg-6 {
        width: 50%;
    }
    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }
    /* Utilitis */

    .container_right {
        max-width: 992px;
    }
    /* Section right */

    .container_artisti {
        display: none;
    }
    /* Section artisti */
}
/* Tablet-MD */
@media screen and (max-width: 768px) {
    
    .col-md-6 {
        width: 50%;
    }
    /* Utilitis */

    .container_right {
        max-width: 768px;
    }
    /* Section right */
}
/* Mobile-SM */
@media screen and (max-width: 576px) {
    
    .col-sm-6 {
        width: 50%;
    }
    /* Utilitis */

    .container_left {
        max-width: 50px;
     }

     .logo {
        display: none;
     }

     .logo_sm {
        display: block;
     }

     .container_left img {
       margin-top: 1rem;
       
     }

     .container_left a, span, hr, h5 {
        display: none;
     }

     .card_plus {
        display: none;
     }

     .container_left .top {
        padding-bottom: 180px;
     }
     /* Section left */
    
    .container_right {
        max-width: 576px;
        
    }

    .container_right {
        width: calc(100% - 50px);
    }

    
    /* Section right */
}